<h1>Hi,</h1>

<p>
    Please confirm your subscription by visiting the following link:

    <%= link_to "Confirm Subscription", confirm_email_url(@auth_code) %>

    I hope you like my photos!
    Sean
</p>